name: GitHub Stats

on:
  schedule:
    - cron: '0 */6 * * *'  # Every 6 hours
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate GitHub Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: GowsiSM
          template: classic
          base: header, activity, community
          config_timezone: Asia/Kolkata
          
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
          plugin_languages_colors: github
          plugin_languages_sections: most-used
          
          plugin_followup: yes
          plugin_reactions: yes
          plugin_people: yes
          plugin_people_types: followers, following
          
          commits_authoring: GowsiSM, gowsisubbian@gmail.com
          
          # This handles everything automatically including conflicts
          output_action: commit
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          committer_branch: main
          committer_message: "Update stats"
